*

!/docs/
!/src/
!/src/graps/
!/src/launcher/
!/src/launcher/LSBM_MAP/
!/src/launcher/SCLC/
!/src/launcher/TV/
!/src/metric_learning/
!/src/node_classification/
!/src/tools/
!/src/*.py
!/src/graps/*.py
!/src/launcher/*.py
!/src/launcher/LSBM_MAP/*.py
!/src/launcher/SCLC/*.py
!/src/launcher/TV/*.py
!/src/launcher/TV/*.ipynb
!/src/metric_learning/*.py
!/src/node_classification/*.py
!/src/tools/*.py